* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}
body {
  background-color: rgba(233, 233, 233, 0.834);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.navbar {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
  background-color: rgba(255, 252, 252, 0.525);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.logo {
  display: grid;
  justify-content: start;
  align-items: center;
  grid-column: 2/3;
}

.logo-title {
  font-size: 25px;
  color: rgb(0, 0, 0);
}
.menuLink {
  grid-column: 3/4;
}
.menuLink ul {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menuLink ul li a {
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.648);
}
.menuLink ul li a:hover {
  color: black;
}
.SociallinksBox {
  grid-column: 4/5;
}
.SociallinksBox ul {
  height: 7rem;
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  align-items: center;
  justify-content: flex-end;
}

.SociallinksBox ul li {
  text-align: right;
  font-size: 20px;
}
.SociallinksBox ul li:first-child {
  grid-column: 2/3;
}

.SociallinksBox .hamburgerMenu {
  display: none;
}

.facebook {
  color: #3b5998;
  font-size: 30px;
}

.instagram {
  color: #d04e34;
  font-size: 30px;
}

.github {
  color: #1b5dcf;
  font-size: 30px;
}

/* */

.mch-display {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mch-display p {
  font-size: 3rem;
  text-transform: capitalize;
}

.mch-display h1 {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}

/*  */

/* responsive design */
@media (max-width: 1080px) {
  .navbar {
    height: 5rem;
    grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
  }
  .logo,
  .menuLink ul,
  .SociallinksBox ul {
    height: 4rem;
  }
}

@media (max-width: 998px) {
  .navbar {
    height: 7rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .menuLink {
    display: none;
  }

  .logo,
  .SociallinksBox ul {
    height: 6rem;
  }

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }
  .mobile-menu-link {
    background-color: rgba(242, 237, 237, 0.953);
    height: 20rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }
  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
  }

  .mobile-menu-link ul li a {
    padding: 10px;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .mobile-menu-link ul li a:hover {
    color: rgb(0, 0, 0);
  }

  .SociallinksBox {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
  }

  .SociallinksBox .socialMediaLinks {
    height: 0;
    display: none;
  }
  .SociallinksBox {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }
  .SociallinksBox .hamburgerMenu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 798px) {
  .navbar {
    height: 6rem;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

  .logo,
  .SociallinksBox ul {
    height: 6rem;
  }

  .SociallinksBox {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .SociallinksBox .hamburgerMenu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 520px) {
  .navbar {
    height: 6rem;
    grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
  }

  .logo,
  .SociallinksBox ul {
    height: 6rem;
  }

  .logo h2 {
    font-size: 2rem;
  }

  .SociallinksBox {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .SociallinksBox .hamburgerMenu {
    display: block;
    font-size: 2.5rem;
  }
  .mch-display h1 {
    font-size: 3.8rem;
  }
}
